<!DOCTYPE html>
<html ng-app="lingoApp">
<head>
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
</head>
<body ng-controller="quizController">

	<form ng-submit="languageSelect()" ng-show="languageSelectForm">
		<label>What language would you like to study?</label>
		<input ng-model="languageSelection" placeholder="Language">
		<input type="submit">
	</form>

	<button ng-click="beginQuiz()" ng-show="beginQuizShow">Begin Quiz</button>

	<div ng-show="quizShow">
		<form ng-submit="submitResponse()">
			<h2>Please enter the English translation of:</h2>
			<h3 ng-bind="question"></h3>
			<input ng-model="quizResponse"/>
			<input type="submit"/>
		</form>
	</div>
	<div><h4 ng-bind="feedbackMessage"></h4></div>

<script src="../javascripts/main.js"></script>
</body>
</html>